:root {
  --colors-brand-950: #2C1C5FFF;
  --colors-brand-600: #7F56D9FF;
  --colors-brand-400: #B692F6FF;
  --colors-brand-50: #F9F5FFFF;
  --colors-gray-cool-50: #F9F9FBFF;
  --colors-gray-cool-200: #DCDFEAFF;
  --colors-gray-cool-400: #7D89B0FF;
  --colors-gray-cool-600: #4A5578FF;
  --colors-gray-cool-800: #30374FFF;
  --colors-gray-cool-900: #111322FF;
  --colors-gray-cool-950: #0E101BFF;
  --colors-base-white: #FFFFFFFF;
  --colors-base-black: #000000FF;
  --colors-base-transparent: #FFFFFF00;
}