[data-theme="light"] {
  --colors-background-bg-error-secondary: #FEE4E2FF;
  --colors-component-colors-components-app-store-badge-border: #A6A6A6FF;
  --colors-component-colors-avatars-avatar-contrast-border: #00000014;
  --colors-component-colors-avatars-avatar-focus-border: #98A2B324;
  --colors-component-colors-buttons-avatar-contrast-border: #00000014;
  --colors-component-colors-buttons-avatar-focus-border: #98A2B324;
  --colors-background-bg-card-secondary-a: #FFFFFFFF;
  --colors-background-bg-card-secondary-b: #FFFFFFFF;
  --colors-component-colors-checkbox-avatar-contrast-border: #00000014;
  --colors-component-colors-checkbox-avatar-focus-border: #98A2B324;
  --colors-text-text-primary-900: var(--colors-gray-light-mode-600);
  --colors-text-text-primary_on-brand: var(--colors-text-text-white);
  --colors-text-text-secondary-700: var(--colors-gray-light-mode-700);
  --colors-text-text-secondary_hover: var(--colors-gray-light-mode-800);
  --colors-text-text-secondary_on-brand: var(--colors-brand-200);
  --colors-text-text-tertiary-600: var(--colors-gray-light-mode-600);
  --colors-text-text-tertiary_hover: var(--colors-gray-light-mode-700);
  --colors-text-text-tertiary_on-brand: var(--colors-brand-200);
  --colors-text-text-quaternary-500: var(--colors-gray-light-mode-500);
  --colors-text-text-quaternary_on-brand: var(--colors-brand-300);
  --colors-text-text-white: var(--colors-base-white);
  --colors-text-text-disabled: var(--colors-gray-light-mode-500);
  --colors-text-text-placeholder: var(--colors-gray-light-mode-500);
  --colors-text-text-placeholder_subtle: var(--colors-gray-light-mode-300);
  --colors-text-text-brand-primary-900: var(--colors-brand-900);
  --colors-text-text-brand-secondary-700: var(--colors-brand-700);
  --colors-text-text-brand-tertiary-600: var(--colors-brand-600);
  --colors-text-text-brand-tertiary_alt: var(--colors-brand-600);
  --colors-text-text-error-primary-600: var(--colors-error-600);
  --colors-text-text-warning-primary-600: var(--colors-warning-600);
  --colors-text-text-success-primary-600: var(--colors-success-600);
  --colors-border-border-primary: var(--colors-gray-light-mode-300);
  --colors-foreground-fg-primary-900: var(--colors-gray-light-mode-600);
  --colors-background-bg-primary: var(--colors-gray-blue-50);
  --colors-border-border-secondary: var(--colors-gray-light-mode-200);
  --colors-border-border-tertiary: var(--colors-gray-light-mode-100);
  --colors-border-border-disabled: var(--colors-gray-light-mode-300);
  --colors-border-border-disabled_subtle: var(--colors-gray-light-mode-200);
  --colors-border-border-brand: var(--colors-brand-300);
  --colors-border-border-brand-solid: var(--colors-brand-600);
  --colors-border-border-brand-solid_alt: var(--colors-brand-600);
  --colors-border-border-error: var(--colors-error-300);
  --colors-border-border-error-solid: var(--colors-error-600);
  --colors-foreground-fg-secondary-700: var(--colors-gray-light-mode-700);
  --colors-foreground-fg-secondary_hover: var(--colors-gray-light-mode-800);
  --colors-foreground-fg-tertiary-600: var(--colors-gray-light-mode-600);
  --colors-foreground-fg-tertiary_hover: var(--colors-gray-light-mode-700);
  --colors-foreground-fg-quaternary-500: var(--colors-gray-light-mode-500);
  --colors-foreground-fg-quaternary_hover: var(--colors-gray-light-mode-600);
  --colors-foreground-fg-quinary-400: var(--colors-gray-light-mode-400);
  --colors-foreground-fg-quinary_hover: var(--colors-gray-light-mode-500);
  --colors-foreground-fg-senary-300: var(--colors-gray-light-mode-300);
  --colors-foreground-fg-white: var(--colors-base-white);
  --colors-foreground-fg-disabled: var(--colors-gray-light-mode-400);
  --colors-foreground-fg-disabled_subtle: var(--colors-gray-light-mode-300);
  --colors-foreground-fg-brand-primary-600: var(--colors-brand-600);
  --colors-foreground-fg-brand-primary_alt: var(--colors-brand-600);
  --colors-foreground-fg-brand-secondary-500: var(--colors-brand-500);
  --colors-foreground-fg-error-primary: var(--colors-error-600);
  --colors-foreground-fg-error-secondary: var(--colors-error-500);
  --colors-foreground-fg-warning-primary: var(--colors-warning-600);
  --colors-foreground-fg-warning-secondary: var(--colors-warning-500);
  --colors-foreground-fg-success-primary: var(--colors-success-600);
  --colors-foreground-fg-success-secondary: var(--colors-success-500);
  --colors-background-bg-primary_alt: var(--colors-base-white);
  --colors-background-bg-primary_hover: var(--colors-gray-light-mode-50);
  --colors-background-bg-primary-solid: var(--colors-gray-light-mode-950);
  --colors-background-bg-secondary: var(--colors-base-white);
  --colors-background-bg-secondary_alt: var(--colors-gray-light-mode-50);
  --colors-background-bg-secondary_hover: var(--colors-gray-light-mode-100);
  --colors-background-bg-secondary_subtle: var(--colors-gray-light-mode-25);
  --colors-background-bg-secondary-solid: var(--colors-gray-light-mode-600);
  --colors-background-bg-tertiary: var(--colors-gray-light-mode-100);
  --colors-background-bg-quaternary: var(--colors-gray-blue-50);
  --colors-background-bg-active: var(--colors-gray-light-mode-50);
  --colors-background-bg-disabled: var(--colors-gray-light-mode-100);
  --colors-background-bg-disabled_subtle: var(--colors-gray-light-mode-50);
  --colors-background-bg-overlay: var(--colors-gray-light-mode-950);
  --colors-background-bg-brand-primary: var(--colors-brand-50);
  --colors-background-bg-brand-primary_alt: var(--colors-brand-50);
  --colors-background-bg-brand-secondary: var(--colors-brand-100);
  --colors-background-bg-brand-solid: var(--colors-brand-600);
  --colors-background-bg-brand-solid_hover: var(--colors-brand-700);
  --colors-background-bg-brand-section: var(--colors-brand-800);
  --colors-background-bg-brand-section_subtle: var(--colors-brand-700);
  --colors-background-bg-error-primary: var(--colors-error-50);
  --colors-background-bg-error-solid: var(--colors-error-600);
  --colors-background-bg-warning-primary: var(--colors-warning-50);
  --colors-background-bg-warning-secondary: var(--colors-warning-100);
  --colors-background-bg-warning-solid: var(--colors-warning-600);
  --colors-background-bg-success-primary: var(--colors-success-50);
  --colors-background-bg-success-secondary: var(--colors-success-100);
  --colors-background-bg-success-solid: var(--colors-success-600);
  --colors-component-colors-application-navigation-nav-item-button-icon-fg: var(--colors-brand-600);
  --colors-component-colors-application-navigation-nav-item-button-icon-fg_active: var(--colors-brand-600);
  --colors-component-colors-application-navigation-nav-item-icon-fg: var(--colors-gray-light-mode-600);
  --colors-component-colors-application-navigation-nav-item-icon-fg_active: var(--colors-gray-light-mode-500);
  --colors-component-colors-avatars-avatar-bg: var(--colors-gray-light-mode-100);
  --colors-component-colors-avatars-avatar-profile-photo-border: var(--colors-base-white);
  --colors-component-colors-buttons-primary-button-primary-fg: var(--colors-base-white);
  --colors-component-colors-buttons-avatar-profile-photo-border: var(--colors-base-white);
  --colors-component-colors-buttons-primary-button-primary-fg_hover: var(--colors-base-white);
  --colors-component-colors-buttons-primary-button-primary-bg: var(--colors-brand-600);
  --colors-component-colors-buttons-primary-button-primary-bg_hover: var(--colors-brand-700);
  --colors-component-colors-buttons-primary-button-primary-border: var(--colors-brand-600);
  --colors-component-colors-buttons-primary-button-primary-border_hover: var(--colors-brand-700);
  --colors-component-colors-buttons-secondary-button-secondary-fg: var(--colors-gray-light-mode-700);
  --colors-component-colors-buttons-secondary-button-secondary-fg_hover: var(--colors-gray-light-mode-800);
  --colors-component-colors-buttons-secondary-button-secondary-bg: var(--colors-base-white);
  --colors-component-colors-buttons-secondary-button-secondary-bg_hover: var(--colors-gray-light-mode-50);
  --colors-component-colors-buttons-secondary-button-secondary-border: var(--colors-gray-light-mode-300);
  --colors-component-colors-buttons-secondary-button-secondary-border_hover: var(--colors-gray-light-mode-300);
  --colors-component-colors-buttons-secondary-color-button-secondary-color-fg: var(--colors-brand-700);
  --colors-component-colors-buttons-secondary-color-button-secondary-color-fg_hover: var(--colors-brand-800);
  --colors-component-colors-buttons-secondary-color-button-secondary-color-bg: var(--colors-base-white);
  --colors-component-colors-buttons-secondary-color-button-secondary-color-bg_hover: var(--colors-brand-50);
  --colors-component-colors-buttons-secondary-color-button-secondary-color-border: var(--colors-brand-300);
  --colors-component-colors-buttons-secondary-color-button-secondary-color-border_hover: var(--colors-brand-300);
  --colors-component-colors-buttons-tertiary-button-tertiary-fg: var(--colors-gray-light-mode-600);
  --colors-component-colors-buttons-tertiary-button-tertiary-fg_hover: var(--colors-gray-light-mode-700);
  --colors-component-colors-buttons-tertiary-button-tertiary-bg_hover: var(--colors-gray-light-mode-50);
  --colors-component-colors-buttons-tertiary-color-button-tertiary-color-fg: var(--colors-brand-700);
  --colors-component-colors-buttons-tertiary-color-button-tertiary-color-fg_hover: var(--colors-brand-800);
  --colors-component-colors-buttons-tertiary-color-button-tertiary-color-bg_hover: var(--colors-brand-50);
  --colors-component-colors-buttons-primary-error-button-primary-error-fg: var(--colors-base-white);
  --colors-component-colors-buttons-primary-error-button-primary-error-fg_hover: var(--colors-base-white);
  --colors-component-colors-buttons-primary-error-button-primary-error-bg: var(--colors-error-600);
  --colors-component-colors-buttons-primary-error-button-primary-error-bg_hover: var(--colors-error-700);
  --colors-component-colors-buttons-primary-error-button-primary-error-border: var(--colors-error-600);
  --colors-component-colors-buttons-primary-error-button-primary-error-border_hover: var(--colors-error-700);
  --colors-component-colors-buttons-secondary-error-button-secondary-error-fg: var(--colors-error-700);
  --colors-component-colors-buttons-secondary-error-button-secondary-error-fg_hover: var(--colors-error-800);
  --colors-component-colors-buttons-secondary-error-button-secondary-error-bg: var(--colors-base-white);
  --colors-component-colors-buttons-secondary-error-button-secondary-error-bg_hover: var(--colors-error-50);
  --colors-component-colors-buttons-secondary-error-button-secondary-error-border: var(--colors-error-300);
  --colors-component-colors-buttons-secondary-error-button-secondary-error-border_hover: var(--colors-error-300);
  --colors-component-colors-buttons-tertiary-error-button-tertiary-error-fg: var(--colors-error-700);
  --colors-component-colors-buttons-tertiary-error-button-tertiary-error-fg_hover: var(--colors-error-800);
  --colors-component-colors-buttons-tertiary-error-button-tertiary-error-bg_hover: var(--colors-error-50);
  --colors-component-colors-header-sections-header-abstract-50-bg: var(--colors-brand-50);
  --colors-component-colors-header-sections-header-abstract-100-bg: var(--colors-brand-100);
  --colors-component-colors-header-sections-header-abstract-200-bg: var(--colors-brand-200);
  --colors-component-colors-header-sections-header-abstract-300-bg: var(--colors-brand-300);
  --colors-component-colors-application-navigation-nav-item-icon-login-fg: var(--colors-gray-light-mode-600);
  --colors-component-colors-application-navigation-nav-item-icon-login-fg-hover: var(--colors-gray-light-mode-600);
  --colors-component-colors-application-navigation-nav-item-text-fg: var(--colors-gray-light-mode-600);
  --colors-component-colors-application-navigation-nav-item-logo-icon-fg: var(--colors-brand-600);
  --colors-component-colors-application-navigation-nav-item-text-active-fg: var(--colors-brand-600);
  --colors-component-colors-application-navigation-nav-item-logo-text-fg: var(--colors-gray-light-mode-600);
  --colors-component-colors-application-navigation-nav-item-login-email-fg: var(--colors-gray-light-mode-400);
  --colors-component-colors-application-navigation-nav-item-login-username-fg: var(--colors-gray-light-mode-500);
  --colors-background-bg-pattern: var(--colors-gray-light-mode-200);
  --colors-component-colors-utility-gray-utility-gray-50: var(--colors-gray-light-mode-50);
  --colors-component-colors-utility-gray-utility-gray-100: var(--colors-gray-light-mode-100);
  --colors-component-colors-utility-header-abstract-200-bg: var(--colors-brand-200);
  --colors-component-colors-utility-header-abstract-300-bg: var(--colors-brand-300);
  --colors-component-colors-utility-gray-utility-gray-200: var(--colors-gray-light-mode-200);
  --colors-component-colors-utility-gray-utility-gray-300: var(--colors-gray-light-mode-300);
  --colors-component-colors-utility-gray-utility-gray-400: var(--colors-gray-light-mode-400);
  --colors-component-colors-utility-gray-utility-gray-500: var(--colors-gray-light-mode-500);
  --colors-component-colors-utility-gray-utility-gray-600: var(--colors-gray-light-mode-600);
  --colors-component-colors-utility-gray-utility-gray-700: var(--colors-gray-light-mode-700);
  --colors-component-colors-utility-gray-utility-gray-800: var(--colors-gray-light-mode-800);
  --colors-component-colors-utility-gray-utility-gray-900: var(--colors-gray-light-mode-900);
  --colors-component-colors-utility-brand-utility-brand-50: var(--colors-brand-50);
  --colors-component-colors-utility-brand-utility-brand-50_alt: var(--colors-brand-50);
  --colors-component-colors-utility-brand-utility-brand-100: var(--colors-brand-100);
  --colors-component-colors-utility-brand-utility-brand-100_alt: var(--colors-brand-100);
  --colors-component-colors-utility-brand-utility-brand-200: var(--colors-brand-200);
  --colors-component-colors-utility-brand-utility-brand-200_alt: var(--colors-brand-200);
  --colors-component-colors-utility-brand-utility-brand-300: var(--colors-brand-300);
  --colors-component-colors-utility-brand-utility-brand-300_alt: var(--colors-brand-300);
  --colors-component-colors-utility-brand-utility-brand-400: var(--colors-brand-400);
  --colors-component-colors-utility-brand-utility-brand-400_alt: var(--colors-brand-400);
  --colors-component-colors-utility-brand-utility-brand-500: var(--colors-brand-500);
  --colors-component-colors-utility-brand-utility-brand-500_alt: var(--colors-brand-500);
  --colors-component-colors-utility-brand-utility-brand-600: var(--colors-brand-600);
  --colors-component-colors-utility-brand-utility-brand-600_alt: var(--colors-brand-600);
  --colors-component-colors-utility-brand-utility-brand-700: var(--colors-brand-700);
  --colors-component-colors-utility-brand-utility-brand-700_alt: var(--colors-brand-700);
  --colors-component-colors-utility-brand-utility-brand-800: var(--colors-brand-800);
  --colors-component-colors-utility-brand-utility-brand-800_alt: var(--colors-brand-800);
  --colors-component-colors-utility-brand-utility-brand-900: var(--colors-brand-900);
  --colors-component-colors-utility-brand-utility-brand-900_alt: var(--colors-brand-900);
  --colors-component-colors-utility-blue-light-utility-blue-light-50: var(--colors-blue-light-50);
  --colors-component-colors-utility-blue-light-utility-blue-light-100: var(--colors-blue-light-100);
  --colors-component-colors-utility-blue-light-utility-blue-light-200: var(--colors-blue-light-200);
  --colors-component-colors-utility-blue-light-utility-blue-light-300: var(--colors-blue-light-300);
  --colors-component-colors-utility-blue-light-utility-blue-light-400: var(--colors-blue-light-400);
  --colors-component-colors-utility-blue-light-utility-blue-light-500: var(--colors-blue-light-500);
  --colors-component-colors-utility-blue-light-utility-blue-light-600: var(--colors-blue-light-600);
  --colors-component-colors-utility-blue-light-utility-blue-light-700: var(--colors-blue-light-700);
  --colors-component-colors-utility-gray-blue-utility-gray-blue-50: var(--colors-gray-blue-50);
  --colors-component-colors-utility-gray-blue-utility-gray-blue-100: var(--colors-gray-blue-100);
  --colors-component-colors-utility-gray-blue-utility-gray-blue-200: var(--colors-gray-blue-200);
  --colors-component-colors-utility-gray-blue-utility-gray-blue-300: var(--colors-gray-blue-300);
  --colors-component-colors-utility-gray-blue-utility-gray-blue-400: var(--colors-gray-blue-400);
  --colors-component-colors-utility-gray-blue-utility-gray-blue-500: var(--colors-gray-blue-500);
  --colors-component-colors-utility-gray-blue-utility-gray-blue-600: var(--colors-gray-blue-600);
  --colors-component-colors-utility-gray-blue-utility-gray-blue-700: var(--colors-gray-blue-700);
  --colors-component-colors-utility-gray-blue-utility-gray-blue-800: var(--colors-gray-blue-800);
  --colors-border-border-divider: var(--colors-component-colors-utility-gray-utility-gray-200);
  --colors-component-colors-checkbox-checkbox-primary-bg: var(--colors-gray-light-mode-100);
  --colors-component-colors-checkbox-checkbox-primary-border: var(--colors-base-white);
  --colors-component-colors-icons-featured-icons-light-featured-icon-light-fg-brand: var(--colors-brand-600);
  --colors-component-colors-icons-checkbox-primary-bg-2: var(--colors-gray-light-mode-100);
  --colors-component-colors-icons-featured-icons-light-featured-icon-light-fg-gray: var(--colors-gray-light-mode-500);
  --colors-component-colors-icons-featured-icons-light-featured-icon-light-fg-error: var(--colors-error-600);
  --colors-component-colors-icons-featured-icons-light-featured-icon-light-fg-warning: var(--colors-warning-600);
  --colors-component-colors-icons-featured-icons-light-featured-icon-light-fg-success: var(--colors-success-600);
  --colors-component-colors-icons-featured-icons-dark-featured-icon-dark-fg-brand: var(--colors-base-white);
  --colors-component-colors-icons-featured-icons-dark-featured-icon-dark-fg-gray: var(--colors-base-white);
  --colors-component-colors-icons-featured-icons-dark-featured-icon-dark-fg-error: var(--colors-base-white);
  --colors-component-colors-icons-featured-icons-dark-featured-icon-dark-fg-warning: var(--colors-base-white);
  --colors-component-colors-icons-featured-icons-dark-featured-icon-dark-fg-success: var(--colors-base-white);
  --colors-component-colors-icons-featured-icons-modern-featured-icon-modern-border: var(--colors-gray-light-mode-200);
  --colors-component-colors-utility-success-utility-success-50: var(--colors-success-50);
  --colors-component-colors-utility-success-utility-success-100: var(--colors-success-100);
  --colors-component-colors-utility-success-utility-success-200: var(--colors-success-200);
  --colors-component-colors-utility-success-utility-success-300: var(--colors-success-300);
  --colors-component-colors-utility-success-utility-success-400: var(--colors-success-400);
  --colors-component-colors-utility-success-utility-success-500: var(--colors-success-500);
  --colors-component-colors-utility-success-utility-success-600: var(--colors-success-600);
  --colors-component-colors-utility-success-utility-success-700: var(--colors-success-700);
}

/* Dark theme */
[data-theme="dark"] {
  --colors-component-colors-avatars-avatar-contrast-border: #FFFFFF1F;
  --colors-component-colors-avatars-avatar-focus-border: #98A2B324;
  --colors-component-colors-buttons-avatar-contrast-border: #FFFFFF1F;
  --colors-component-colors-buttons-avatar-focus-border: #98A2B324;
  --colors-component-colors-application-navigation-nav-item-login-email-fg: #FFFFFFFF;
  --colors-component-colors-application-navigation-nav-item-login-username-fg: #FFFFFFFF;
  --colors-background-bg-pattern: #1C538EFF;
  --colors-background-bg-card-secondary-a: #1D293966;
  --colors-background-bg-card-secondary-b: #1D29391A;
  --colors-component-colors-checkbox-avatar-contrast-border: #FFFFFF1F;
  --colors-component-colors-checkbox-avatar-focus-border: #98A2B324;
  --colors-text-text-primary-900: var(--colors-component-colors-utility-gray-blue-utility-gray-blue-800);
  --colors-text-text-primary_on-brand: var(--colors-gray-dark-mode-50);
  --colors-text-text-secondary-700: var(--colors-gray-blue-200);
  --colors-text-text-secondary_hover: var(--colors-gray-dark-mode-200);
  --colors-text-text-secondary_on-brand: var(--colors-gray-dark-mode-alpha-300);
  --colors-text-text-tertiary-600: var(--colors-gray-dark-mode-400);
  --colors-text-text-tertiary_hover: var(--colors-gray-dark-mode-300);
  --colors-text-text-tertiary_on-brand: var(--colors-gray-dark-mode-400);
  --colors-text-text-quaternary-500: var(--colors-text-text-primary-900);
  --colors-text-text-quaternary_on-brand: var(--colors-gray-dark-mode-400);
  --colors-text-text-white: var(--colors-base-white);
  --colors-text-text-disabled: var(--colors-gray-dark-mode-500);
  --colors-text-text-placeholder: var(--colors-gray-dark-mode-500);
  --colors-text-text-placeholder_subtle: var(--colors-gray-dark-mode-700);
  --colors-text-text-brand-primary-900: var(--colors-gray-dark-mode-50);
  --colors-text-text-brand-secondary-700: var(--colors-gray-dark-mode-300);
  --colors-text-text-brand-tertiary-600: var(--colors-gray-dark-mode-400);
  --colors-text-text-brand-tertiary_alt: var(--colors-gray-dark-mode-50);
  --colors-text-text-error-primary-600: var(--colors-error-400);
  --colors-text-text-warning-primary-600: var(--colors-warning-400);
  --colors-text-text-success-primary-600: var(--colors-success-400);
  --colors-border-border-primary: var(--colors-component-colors-utility-gray-blue-utility-gray-blue-700);
  --colors-foreground-fg-primary-900: var(--colors-component-colors-utility-gray-blue-utility-gray-blue-700);
  --colors-background-bg-primary: var(--colors-gray-blue-950);
  --colors-border-border-secondary: var(--colors-gray-cool-700);
  --colors-border-border-tertiary: var(--colors-gray-dark-mode-800);
  --colors-border-border-disabled: var(--colors-gray-dark-mode-700);
  --colors-border-border-disabled_subtle: var(--colors-gray-dark-mode-500);
  --colors-border-border-brand: var(--colors-brand-400);
  --colors-border-border-brand-solid: var(--colors-brand-500);
  --colors-border-border-brand-solid_alt: var(--colors-brand-700);
  --colors-border-border-error: var(--colors-error-400);
  --colors-border-border-error-solid: var(--colors-error-500);
  --colors-foreground-fg-secondary-700: var(--colors-gray-dark-mode-300);
  --colors-foreground-fg-secondary_hover: var(--colors-gray-dark-mode-200);
  --colors-foreground-fg-tertiary-600: var(--colors-gray-dark-mode-400);
  --colors-foreground-fg-tertiary_hover: var(--colors-gray-dark-mode-300);
  --colors-foreground-fg-quaternary-500: var(--colors-gray-dark-mode-400);
  --colors-foreground-fg-quaternary_hover: var(--colors-gray-dark-mode-300);
  --colors-foreground-fg-quinary-400: var(--colors-gray-dark-mode-500);
  --colors-foreground-fg-quinary_hover: var(--colors-gray-dark-mode-400);
  --colors-foreground-fg-senary-300: var(--colors-gray-dark-mode-600);
  --colors-foreground-fg-white: var(--colors-base-white);
  --colors-foreground-fg-disabled: var(--colors-gray-dark-mode-500);
  --colors-foreground-fg-disabled_subtle: var(--colors-gray-dark-mode-400);
  --colors-foreground-fg-brand-primary-600: var(--colors-brand-500);
  --colors-foreground-fg-brand-primary_alt: var(--colors-gray-dark-mode-300);
  --colors-foreground-fg-brand-secondary-500: var(--colors-brand-500);
  --colors-foreground-fg-error-primary: var(--colors-error-500);
  --colors-foreground-fg-error-secondary: var(--colors-error-400);
  --colors-foreground-fg-warning-primary: var(--colors-warning-500);
  --colors-foreground-fg-warning-secondary: var(--colors-warning-400);
  --colors-foreground-fg-success-primary: var(--colors-success-500);
  --colors-foreground-fg-success-secondary: var(--colors-success-400);
  --colors-background-bg-primary_alt: var(--colors-background-bg-secondary);
  --colors-background-bg-primary_hover: var(--colors-gray-blue-800);
  --colors-background-bg-primary-solid: var(--colors-background-bg-secondary);
  --colors-background-bg-secondary: var(--colors-gray-blue-800);
  --colors-background-bg-secondary_alt: var(--colors-background-bg-primary);
  --colors-background-bg-secondary_hover: var(--colors-gray-blue-800);
  --colors-background-bg-secondary_subtle: var(--colors-gray-blue-900);
  --colors-background-bg-secondary-solid: var(--colors-gray-blue-600);
  --colors-background-bg-tertiary: var(--colors-gray-blue-800);
  --colors-background-bg-quaternary: var(--colors-gray-blue-700);
  --colors-background-bg-active: var(--colors-gray-blue-900);
  --colors-background-bg-disabled: var(--colors-gray-blue-800);
  --colors-background-bg-disabled_subtle: var(--colors-gray-blue-200);
  --colors-background-bg-overlay: var(--colors-gray-blue-800);
  --colors-background-bg-brand-primary: var(--colors-brand-500);
  --colors-background-bg-brand-primary_alt: var(--colors-background-bg-secondary);
  --colors-background-bg-brand-secondary: var(--colors-brand-600);
  --colors-background-bg-brand-solid: var(--colors-brand-600);
  --colors-background-bg-brand-solid_hover: var(--colors-brand-700);
  --colors-background-bg-brand-section: var(--colors-background-bg-secondary);
  --colors-background-bg-brand-section_subtle: var(--colors-background-bg-primary);
  --colors-background-bg-error-primary: var(--colors-error-500);
  --colors-background-bg-error-secondary: var(--colors-error-600);
  --colors-background-bg-error-solid: var(--colors-error-600);
  --colors-background-bg-warning-primary: var(--colors-warning-500);
  --colors-background-bg-warning-secondary: var(--colors-warning-600);
  --colors-background-bg-warning-solid: var(--colors-warning-600);
  --colors-background-bg-success-primary: var(--colors-success-500);
  --colors-background-bg-success-secondary: var(--colors-success-600);
  --colors-background-bg-success-solid: var(--colors-success-600);
  --colors-component-colors-components-app-store-badge-border: var(--colors-base-white);
  --colors-component-colors-application-navigation-nav-item-button-icon-fg: var(--colors-brand-100);
  --colors-component-colors-application-navigation-nav-item-button-icon-fg_active: var(--colors-brand-200);
  --colors-component-colors-application-navigation-nav-item-icon-fg: var(--colors-gray-dark-mode-400);
  --colors-component-colors-application-navigation-nav-item-icon-fg_active: var(--colors-gray-dark-mode-200);
  --colors-component-colors-avatars-avatar-bg: var(--colors-gray-light-mode-800);
  --colors-component-colors-avatars-avatar-profile-photo-border: var(--colors-gray-dark-mode-950);
  --colors-component-colors-buttons-primary-button-primary-fg: var(--colors-base-white);
  --colors-component-colors-buttons-avatar-profile-photo-border: var(--colors-gray-dark-mode-950);
  --colors-component-colors-buttons-primary-button-primary-fg_hover: var(--colors-base-white);
  --colors-component-colors-buttons-primary-button-primary-bg: var(--colors-brand-600);
  --colors-component-colors-buttons-primary-button-primary-bg_hover: var(--colors-brand-900);
  --colors-component-colors-buttons-primary-button-primary-border: var(--colors-brand-600);
  --colors-component-colors-buttons-primary-button-primary-border_hover: var(--colors-brand-700);
  --colors-component-colors-buttons-secondary-button-secondary-fg: var(--colors-gray-dark-mode-300);
  --colors-component-colors-buttons-secondary-button-secondary-fg_hover: var(--colors-gray-light-mode-100);
  --colors-component-colors-buttons-secondary-button-secondary-bg: var(--colors-gray-light-mode-900);
  --colors-component-colors-buttons-secondary-button-secondary-bg_hover: var(--colors-gray-light-mode-900);
  --colors-component-colors-buttons-secondary-button-secondary-border: var(--colors-gray-light-mode-700);
  --colors-component-colors-buttons-secondary-button-secondary-border_hover: var(--colors-gray-dark-mode-700);
  --colors-component-colors-buttons-secondary-color-button-secondary-color-fg: var(--colors-gray-dark-mode-300);
  --colors-component-colors-buttons-secondary-color-button-secondary-color-fg_hover: var(--colors-gray-dark-mode-100);
  --colors-component-colors-buttons-secondary-color-button-secondary-color-bg: var(--colors-gray-light-mode-900);
  --colors-component-colors-buttons-secondary-color-button-secondary-color-bg_hover: var(--colors-gray-dark-mode-800);
  --colors-component-colors-buttons-secondary-color-button-secondary-color-border: var(--colors-gray-dark-mode-700);
  --colors-component-colors-buttons-secondary-color-button-secondary-color-border_hover: var(--colors-gray-dark-mode-700);
  --colors-component-colors-buttons-tertiary-button-tertiary-fg: var(--colors-gray-dark-mode-400);
  --colors-component-colors-buttons-tertiary-button-tertiary-fg_hover: var(--colors-gray-dark-mode-200);
  --colors-component-colors-buttons-tertiary-button-tertiary-bg_hover: var(--colors-gray-dark-mode-800);
  --colors-component-colors-buttons-tertiary-color-button-tertiary-color-fg: var(--colors-gray-dark-mode-300);
  --colors-component-colors-buttons-tertiary-color-button-tertiary-color-fg_hover: var(--colors-gray-dark-mode-100);
  --colors-component-colors-buttons-tertiary-color-button-tertiary-color-bg_hover: var(--colors-gray-dark-mode-800);
  --colors-component-colors-buttons-primary-error-button-primary-error-fg: var(--colors-base-white);
  --colors-component-colors-buttons-primary-error-button-primary-error-fg_hover: var(--colors-base-white);
  --colors-component-colors-buttons-primary-error-button-primary-error-bg: var(--colors-error-600);
  --colors-component-colors-buttons-primary-error-button-primary-error-bg_hover: var(--colors-error-700);
  --colors-component-colors-buttons-primary-error-button-primary-error-border: var(--colors-error-600);
  --colors-component-colors-buttons-primary-error-button-primary-error-border_hover: var(--colors-error-700);
  --colors-component-colors-buttons-secondary-error-button-secondary-error-fg: var(--colors-error-200);
  --colors-component-colors-buttons-secondary-error-button-secondary-error-fg_hover: var(--colors-error-100);
  --colors-component-colors-buttons-secondary-error-button-secondary-error-bg: var(--colors-error-950);
  --colors-component-colors-buttons-secondary-error-button-secondary-error-bg_hover: var(--colors-error-900);
  --colors-component-colors-buttons-secondary-error-button-secondary-error-border: var(--colors-error-800);
  --colors-component-colors-buttons-secondary-error-button-secondary-error-border_hover: var(--colors-error-700);
  --colors-component-colors-buttons-tertiary-error-button-tertiary-error-fg: var(--colors-error-300);
  --colors-component-colors-buttons-tertiary-error-button-tertiary-error-fg_hover: var(--colors-error-200);
  --colors-component-colors-buttons-tertiary-error-button-tertiary-error-bg_hover: var(--colors-error-900);
  --colors-component-colors-header-sections-header-abstract-50-bg: var(--colors-gray-dark-mode-900);
  --colors-component-colors-header-sections-header-abstract-100-bg: var(--colors-gray-dark-mode-800);
  --colors-component-colors-header-sections-header-abstract-200-bg: var(--colors-gray-dark-mode-700);
  --colors-component-colors-header-sections-header-abstract-300-bg: var(--colors-gray-light-mode-600);
  --colors-component-colors-application-navigation-nav-item-icon-login-fg: var(--colors-brand-400);
  --colors-component-colors-application-navigation-nav-item-icon-login-fg-hover: var(--colors-brand-500);
  --colors-component-colors-application-navigation-nav-item-text-fg: var(--colors-brand-100);
  --colors-component-colors-application-navigation-nav-item-logo-icon-fg: var(--colors-brand-200);
  --colors-component-colors-application-navigation-nav-item-text-active-fg: var(--colors-brand-100);
  --colors-component-colors-application-navigation-nav-item-logo-text-fg: var(--colors-brand-100);
  --colors-component-colors-utility-gray-utility-gray-50: var(--colors-gray-dark-mode-900);
  --colors-component-colors-utility-gray-utility-gray-100: var(--colors-gray-dark-mode-800);
  --colors-component-colors-utility-header-abstract-200-bg: var(--colors-gray-dark-mode-700);
  --colors-component-colors-utility-header-abstract-300-bg: var(--colors-gray-light-mode-600);
  --colors-component-colors-utility-gray-utility-gray-200: var(--colors-gray-dark-mode-700);
  --colors-component-colors-utility-gray-utility-gray-300: var(--colors-gray-dark-mode-700);
  --colors-component-colors-utility-gray-utility-gray-400: var(--colors-gray-dark-mode-600);
  --colors-component-colors-utility-gray-utility-gray-500: var(--colors-gray-dark-mode-500);
  --colors-component-colors-utility-gray-utility-gray-600: var(--colors-gray-dark-mode-400);
  --colors-component-colors-utility-gray-utility-gray-700: var(--colors-gray-dark-mode-300);
  --colors-component-colors-utility-gray-utility-gray-800: var(--colors-gray-dark-mode-200);
  --colors-component-colors-utility-gray-utility-gray-900: var(--colors-gray-dark-mode-100);
  --colors-component-colors-utility-brand-utility-brand-50: var(--colors-brand-950);
  --colors-component-colors-utility-brand-utility-brand-50_alt: var(--colors-component-colors-utility-gray-utility-gray-50);
  --colors-component-colors-utility-brand-utility-brand-100: var(--colors-brand-900);
  --colors-component-colors-utility-brand-utility-brand-100_alt: var(--colors-component-colors-utility-gray-utility-gray-100);
  --colors-component-colors-utility-brand-utility-brand-200: var(--colors-brand-800);
  --colors-component-colors-utility-brand-utility-brand-200_alt: var(--colors-component-colors-utility-gray-utility-gray-200);
  --colors-component-colors-utility-brand-utility-brand-300: var(--colors-brand-700);
  --colors-component-colors-utility-brand-utility-brand-300_alt: var(--colors-component-colors-utility-gray-utility-gray-300);
  --colors-component-colors-utility-brand-utility-brand-400: var(--colors-brand-600);
  --colors-component-colors-utility-brand-utility-brand-400_alt: var(--colors-component-colors-utility-gray-utility-gray-400);
  --colors-component-colors-utility-brand-utility-brand-500: var(--colors-brand-500);
  --colors-component-colors-utility-brand-utility-brand-500_alt: var(--colors-component-colors-utility-gray-utility-gray-500);
  --colors-component-colors-utility-brand-utility-brand-600: var(--colors-brand-400);
  --colors-component-colors-utility-brand-utility-brand-600_alt: var(--colors-component-colors-utility-gray-utility-gray-600);
  --colors-component-colors-utility-brand-utility-brand-700: var(--colors-brand-300);
  --colors-component-colors-utility-brand-utility-brand-700_alt: var(--colors-component-colors-utility-gray-utility-gray-700);
  --colors-component-colors-utility-brand-utility-brand-800: var(--colors-brand-200);
  --colors-component-colors-utility-brand-utility-brand-800_alt: var(--colors-component-colors-utility-gray-utility-gray-800);
  --colors-component-colors-utility-brand-utility-brand-900: var(--colors-brand-100);
  --colors-component-colors-utility-brand-utility-brand-900_alt: var(--colors-component-colors-utility-gray-utility-gray-900);
  --colors-component-colors-utility-blue-light-utility-blue-light-50: var(--colors-blue-light-950);
  --colors-component-colors-utility-blue-light-utility-blue-light-100: var(--colors-blue-light-900);
  --colors-component-colors-utility-blue-light-utility-blue-light-200: var(--colors-blue-light-800);
  --colors-component-colors-utility-blue-light-utility-blue-light-300: var(--colors-blue-light-700);
  --colors-component-colors-utility-blue-light-utility-blue-light-400: var(--colors-blue-light-600);
  --colors-component-colors-utility-blue-light-utility-blue-light-500: var(--colors-blue-light-500);
  --colors-component-colors-utility-blue-light-utility-blue-light-600: var(--colors-blue-light-400);
  --colors-component-colors-utility-blue-light-utility-blue-light-700: var(--colors-blue-light-300);
  --colors-component-colors-utility-gray-blue-utility-gray-blue-50: var(--colors-gray-blue-900);
  --colors-component-colors-utility-gray-blue-utility-gray-blue-100: var(--colors-gray-blue-900);
  --colors-component-colors-utility-gray-blue-utility-gray-blue-200: var(--colors-gray-blue-800);
  --colors-component-colors-utility-gray-blue-utility-gray-blue-300: var(--colors-gray-blue-700);
  --colors-component-colors-utility-gray-blue-utility-gray-blue-400: var(--colors-gray-blue-600);
  --colors-component-colors-utility-gray-blue-utility-gray-blue-500: var(--colors-gray-blue-500);
  --colors-component-colors-utility-gray-blue-utility-gray-blue-600: var(--colors-gray-blue-400);
  --colors-component-colors-utility-gray-blue-utility-gray-blue-700: var(--colors-gray-blue-300);
  --colors-component-colors-utility-gray-blue-utility-gray-blue-800: var(--colors-gray-blue-200);
  --colors-border-border-divider: var(--colors-gray-cool-400);
  --colors-component-colors-checkbox-checkbox-primary-bg: var(--colors-gray-light-mode-800);
  --colors-component-colors-checkbox-checkbox-primary-border: var(--colors-gray-dark-mode-950);
  --colors-component-colors-icons-featured-icons-light-featured-icon-light-fg-brand: var(--colors-brand-200);
  --colors-component-colors-icons-checkbox-primary-bg-2: var(--colors-gray-light-mode-800);
  --colors-component-colors-icons-featured-icons-light-featured-icon-light-fg-gray: var(--colors-gray-dark-mode-200);
  --colors-component-colors-icons-featured-icons-light-featured-icon-light-fg-error: var(--colors-error-200);
  --colors-component-colors-icons-featured-icons-light-featured-icon-light-fg-warning: var(--colors-warning-200);
  --colors-component-colors-icons-featured-icons-light-featured-icon-light-fg-success: var(--colors-success-200);
  --colors-component-colors-icons-featured-icons-dark-featured-icon-dark-fg-brand: var(--colors-brand-200);
  --colors-component-colors-icons-featured-icons-dark-featured-icon-dark-fg-gray: var(--colors-gray-dark-mode-200);
  --colors-component-colors-icons-featured-icons-dark-featured-icon-dark-fg-error: var(--colors-error-200);
  --colors-component-colors-icons-featured-icons-dark-featured-icon-dark-fg-warning: var(--colors-warning-200);
  --colors-component-colors-icons-featured-icons-dark-featured-icon-dark-fg-success: var(--colors-success-200);
  --colors-component-colors-icons-featured-icons-modern-featured-icon-modern-border: var(--colors-gray-light-mode-700);
  --colors-component-colors-utility-success-utility-success-50: var(--colors-success-950);
  --colors-component-colors-utility-success-utility-success-100: var(--colors-success-900);
  --colors-component-colors-utility-success-utility-success-200: var(--colors-success-800);
  --colors-component-colors-utility-success-utility-success-300: var(--colors-success-700);
  --colors-component-colors-utility-success-utility-success-400: var(--colors-success-600);
  --colors-component-colors-utility-success-utility-success-500: var(--colors-success-500);
  --colors-component-colors-utility-success-utility-success-600: var(--colors-success-400);
  --colors-component-colors-utility-success-utility-success-700: var(--colors-success-300);
}