---
import { Icon } from "@astrojs/starlight/components";
import type { Props } from "@astrojs/starlight/props";
import TableOfContentsList from "./TableOfContentsList.astro";
import CoffeeButton from "./CoffeeButton.astro";
const { toc } = Astro.props;
---

{
  toc && (
    <>
      <div class="sl-container">
        <starlight-toc
          data-min-h={toc.minHeadingLevel}
          data-max-h={toc.maxHeadingLevel}
        >
          <nav aria-labelledby="starlight__on-this-page">
            <h2 id="starlight__on-this-page">On this page</h2>

            <>
              <TableOfContentsList toc={toc.items} />
              <h2 class="contribute">Contribute</h2>
              <ul>
                <li>
                  <a
                    href="https://github.com/Hyperxq/Project-Builder-schematics-docs/blob/main/CONTRIBUTING.md"
                    target="_blank"
                  >
                    <Icon name="open-book" /> Contribute
                  </a>
                </li>
                <li>
                  <a
                    href="https://github.com/Hyperxq/Project-Builder-schematics-docs/discussions/new/choose"
                    target="_blank"
                  >
                    <Icon name="external" /> Start a discussion
                  </a>
                </li>
              </ul>
              <a
                href="https://github.com/Hyperxq/Project-Builder-schematics-docs/issues/new"
                class="btn__mistake"
              >
                Did you find an issue?
              </a>
            </>
          </nav>
        </starlight-toc>
      </div>

      <div class="sl-container coffee-me_button">
        <CoffeeButton />
      </div>
    </>
  )
}
<style>
  .right-sidebar-panel {
    height: 100%;
  }

  .right-sidebar {
    width: fit-content;
  }

  .sl-container:has(div.coffee-me_button) {
    position: relative;
    height: 100%;
  }

  .coffee-me_button {
    position: absolute;
    bottom: 0;
  }

  ul {
    padding: 0;
    list-style: none;
  }

  .contribute {
    margin-top: 1rem;
  }

  .btn__mistake {
    margin-top: 0.5rem;
    border: 1px solid var(--sl-color-gray-1);
    border-radius: 1rem;
    background-color: transparent;
    cursor: pointer;
    font-size: var(--sl-text-xs);
    line-height: calc(1 / var(--theme-text-xs));
    padding: 0.25rem 0.75rem;
    width: fit-content;
  }
  .btn__mistake:hover,
  .btn__mistake:focus {
    background-color: var(--sl-color-gray-7);
  }

  .btn__mistake:focus:not(:focus-visible) {
    background-color: transparent;
  }
</style>

<script
  src="../../node_modules/@astrojs/starlight/components/TableOfContents/starlight-toc"
></script>
